.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;
  width: 100%;
}

.header-container > img {
  flex-grow: 0;
  border-radius: 50%;
}

.header-container > nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  gap: 80px;
}

.first-section {
  display: flex;
  width: 75%;
  align-items: center;
  margin: 90px auto;
  gap: 100px;
}

.second-section > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

footer {
  display: flex;
  width: 100%;
  gap: 50px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 100px;
}

footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
