.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 40px;
}

.header-container > nav {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  gap: 80px;
}

.first-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.second-section {
  width: 95%;
  margin: 80px auto;
}

.second-section-one {
  display: flex;
}

.second-section-two {
  display: flex;
  margin: 60px auto;
}

.second-section-two div:nth-child(1) {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.second-section-two div:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: center;
}

.second-section-three {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
