header{
  display: flex;
  gap: 60px;
  box-sizing: border-box;
  padding: 30px;
}

header > h3{
  width: 30%;
  line-height: 40px;
}

.first-section > nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0;
}

.second-section{
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin-top: 90px;
}

.second-section > section:nth-child(1){
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-section > section:nth-child(1) > div:nth-child(2){
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.second-section > section:nth-child(2){
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-section > section:nth-child(2) > div{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

footer{
  display: flex;
  justify-content: space-around;
  margin: 100px 0;
}